* {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('./img/body.jpg');
  background-position: center;
  /* background-repeat: no-repeat;
  background-size: cover; */
}
header {
  min-height: 150px;
  background-color: #212529;
  color: white;
}
main {
  background-color: #63eb6c;
  min-height: 410px;
  position: relative;
}
.controllGame {
  bottom: 2px;
  position: absolute;
  right: 12px;
}
.luat {
  font-size: 13px;
}
.mainGame {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0;
}
.btn {
  width: 42px;
  cursor: pointer;
}
footer {
  background-color: #212529;
  height: 100px;
}
.text-footer {
  font-size: 12px;
  color: white;
}
.player {
  display: flex;
  background: lightseagreen;
  padding: 3px;
  margin: 2px 5px;
  width: 175px;
  border-radius: 5px;
}
#isBtnPlayer {
  display: inline;
}
#chiabai {
  display: none;
}
#opencard {
  display: none;
}
#newgame {
  display: none;
}
.card {
  border: 1px black solid;
  min-width: 40px;
  min-height: 80px;
  background-image: url('./PNG/gray_back.png');
  background-size: cover;
  border-radius: 3px;
}
img {
  width: 50px;
  height: 76px;
}
/* table */
ol {
  background: #ff9999;
  padding: 20px;
}
ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}
@media (max-width: 419px) {
  .player {
    width: 150px;
  }
}
@media (max-width: 414px) {
  .player {
    width: 180px;
  }
}
@media (max-width: 411px) {
  .player {
    width: 178px;
  }
}
@media (max-width: 375px) {
  .player {
    width: 160px;
  }
}
@media (max-width: 360px) {
  .player {
    width: 160px;
  }
  .mainGame {
    width: 344px;
  }
}
